/* style.css */

/* body {
    background-color: bisque;
} */

body.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: bisque; /* Or any background color you prefer */
    font-family: Arial, sans-serif;
}

.navbar {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    border: 2px;
    background-color: maroon;
    border-color: maroon;
    color: white;
}

.logo-container {
    text-align: center;
    margin: 20px 0;
}

.logo-background {
    background-image: url("{% static 'sdm/images/banner1.png' %}"); /* Add the correct path to your background image */
    background-size: cover; /* Ensure the image covers the entire div */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    padding: 50px; /* Add some padding if necessary */
    text-align: center; /* Center the text */
}

/* .addpad{
    margin-bottom: 10%;
} */

.logo {
    width: 150px;
    margin: 0 auto;
    animation: fadeIn 3s forwards;
}

.description {
    text-align: center;
    opacity: 0;
    animation: fadeIn 10s forwards;
}

.description2 {
    text-align: center;
    opacity: 0;
    animation: fadeIn 6s forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.descbar{
    background-color: maroon;
    color: gold;
    height: 250px;
    font-weight: lighter;
    /* padding-top: 50%; */
    width: 100%;
    font-style: italic;
}

.enroll_button {
    font-family: 'Times New Roman', Times, serif;
    background-color: gold;
    width: 100px;
    height: 35px;
    color: maroon;
    border: 0px;
    border-radius: 50px;
}

.banner-section {
    position: relative;
    text-align: center;
    color: white;
}

.banner-section img {
    width: 100%;
    height: 700px;
}

.banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.banner .headingb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: gold;
    background-color: maroon;
    padding: 20px;
    border-radius: 10px;
}

.section {
    width: 50%%;
    padding: 50px;
    text-align: center;
}

.maroon-bg {
    background-color: maroon;
    color: white;
}

.gold-bg {
    background-color: gold;
    color: maroon;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container label {
    margin: 10px 0 5px;
    align-self: flex-start;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    padding: 10px 20px;
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container p {
    margin-top: 10px;
}

.login-container .logo {
    margin-top: 20px;
    width: 100px;
}